html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --font-color-purple: #9d5cd0;
  --font-color-dark-purple: #7943a4;
  --font-color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #333333;
  --color-transparent: transparent;
  --color-light-gray: #cacaca;
  --color-light-purple: #d1a9f0;
}

::placeholder {
  color: var(--color-light-gray);
}

a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

button,
a {
  outline: none;
}

img {
  width: 100%;
  max-width: 100%;
  border-style: none;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  background-color: var(--font-color-white);
}

.btn {
  border: 2px solid var(--font-color-purple);
  border-radius: 100px;
  color: var(--font-color-white);
  background-color: var(--color-transparent);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.title-h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: calc(38.13/28);
}

.title-h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: calc(32/24);
  color: var(--font-color-black);
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.btn-transition {
  transition: .3s background-color ease;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  position: relative;
}

.header__container-first {
  width: 100%;
  background-color: black;
}

.header__container-second {
  display: none;
  background-color: rgba(0, 0, 0, .4);
}

.header__container {
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 10px;
}

.header__container-second .header__container {
  display: none;
}

.header__button-left {
  padding: 0;
  border: none;
  background-color: var(--color-transparent);
  cursor: pointer;
}

.header-2-icon {
  display: none;
}

.burger-btn-close {
  margin-bottom: 13px;
  padding-left: 1px;
}

.btn-close-icon rect {
  transition: .3s fill ease-in-out;
}

.btn-open-icon rect,
path {
  transition: .3s fill ease-in-out;
}

.header__burger {
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 15px 27px;
}

.menu {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 600px;
  opacity: .9;
  background-color: var(--color-black);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: transform, visibility;
  transform: translateX(-101%);
}

.header__list {
  overflow-y: auto;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 50px;
}

.header__item {
  font-size: 16px;
  font-weight: 600;
  line-height: 2em;
  color: var(--font-color-white);
}

.item-href {
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: background-color, color;
}

.header__item:last-child {
  margin-bottom: 18px;
}

.button-primary {
  position: relative;
  align-items: center;
  max-width: 115px;
  padding: 7px 30px 9px;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(16.4 / 12);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: background-color, border-color;
}

.button-primary::before {
  content: "";
  position: absolute;
  top: -15%;
  right: -6%;
  bottom: -16%;
  left: -6%;
  border: 2px solid #c283f3;
  border-radius: 100px;
  transition: transform .3s ease-in-out;
  transform: scale(0);
}

.button-primary-icon {
  margin-right: 4px;
}

.button-primary-text {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 1px;
}

.header__logo {
  align-items: center;
  margin: 0;
  margin-right: 6px;
  padding-top: 1px;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: transform, outline;
}

.header__form {
  position: absolute;
  z-index: 25;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  justify-content: center;
  width: 100%;
  height: 75px;
  padding: 29px 23px 14px 15px;
  opacity: .9;
  background-color: var(--color-black);
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: transform, visibility;
  transform: translateY(-101%);
  transform-origin: right;
}

.is-active {
  visibility: visible;
  transform: none;
}

.form-btn-search {
  margin-top: 10px;
  margin-right: 2px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill .3s ease-in-out;
}

.form-btn-search rect {
  transition: fill .3s ease-in-out;
}

.form-input {
  max-width: 180px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
  color: var(--font-color-white);
  background-color: var(--color-transparent);
  transition: border-color .3s ease-in-out;
}

.header__form .form-input::placeholder {
  color: var(--font-color-white);
  transition: color .3s ease-in-out;
}

.input-large {
  display: none;
}

.form-btn-close {
  position: absolute;
  top: 20%;
  right: 4.6%;
  padding: 0;
  border: none;
  background-color: var(--color-transparent);
  cursor: pointer;
}

.form-btn-close rect {
  transition: .3s fill ease-in-out;
}

.header__button-right {
  height: 19px;
  padding: 0;
  padding-right: 1px;
  border: none;
  background-color: var(--color-transparent);
  cursor: pointer;
}

/* hero */
.hero {
  position: relative;
}

.hero__container {
  height: 100%;
  padding: 34px 28px 45px 30px;
}

.hero__elements {
  text-align: center;
}

.hero__title {
  margin-bottom: 12px;
  font-size: 32px;
  line-height: calc(36.8 / 32);
  color: var(--font-color-white);
}

.hero__descr {
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.34 / 12);
  color: var(--font-color-white);
}

.hero__button {
  position: relative;
  max-width: 203px;
  padding: 10px 17px 10px 19px;
  font-size: 12px;
  font-weight: 700;
  line-height: calc(16.34 / 12);
  background-color: var(--font-color-purple);
  cursor: pointer;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.hero__button::before {
  content: "";
  position: absolute;
  top: -15%;
  right: -3%;
  bottom: -15%;
  left: -3%;
  border: 2px solid #c283f3;
  border-radius: 100px;
  transition: transform .3s ease-in-out;
  transform: scale(0);
}

.wrap-hero {
  position: absolute;
  z-index: -1;
  top: -15%;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 115%;
}

.slider.swiper-container-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slide {
  overflow: hidden;
  background-color: lightgray;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.swiper-slide-1 {
  background-image: url("../img/320-hero-slide-1.jpg");
}

.swiper-slide-2 {
  background-image: url("../img/320-hero-slide-2.jpg");
}

.swiper-slide-3 {
  background-image: url("../img/320-hero-slide-3.jpg");
}

.avatar-icon {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform-origin: center center;

  will-change: transform;
  object-fit: cover;
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* about */
.about__container {
  padding-top: 51px;
  padding-bottom: 40px;
}

.about__title {
  margin-bottom: 12px;
  color: var(--color-grey);
}

.about__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 2em;
  color: var(--color-grey);
}

/* galery */
.galery {
  width: 100%;
  background-image: url("../img/background-galery-320.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.galery__container {
  padding-top: 50px;
  padding-bottom: 47px;
}

.galery__info {
  max-width: 300px;
}

.galery__title {
  margin-bottom: 12px;
  padding-left: 1px;
  color: var(--font-color-white);
}

.galery__description {
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--font-color-white);
}

.select {
  width: 100%;
  margin-bottom: 36px;
}

.choices {
  transition: background-color .3s ease-in-out;
}

.choices__inner {
  min-height: 41px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--font-color-white);
  background-color: var(--color-transparent);
}

.is-open .choices__inner {
  position: relative;
  z-index: 2;
  border: 1px solid var(--font-color-white);
  border-radius: 6px;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one] .choices__inner {
  padding: .6% 5.3%;
}

.choices__list--single {
  margin: 0;
  padding: 0;
}

.choices__list--dropdown {
  background-color: var(--color-black);
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 10px;
  color: #999999;
  background: var(--color-black);
}

.choices .choices__list--dropdown.is-active {
  border-color: #999999;
}

.choices__list--dropdown .choices__item:not(:last-child),
.choices__list[aria-expanded] .choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: var(--font-color-white);
  background: rgba(255, 255, 255, .2);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.choices__list--dropdown .choices__item.is-selected {
  display: none;
}

.choices[data-type*=select-one]::after {
  z-index: 2;
}

.choices[data-type*=select-one].is-open::after {
  content: url("/img/arrow_up.svg");
  z-index: 3;
  top: 40%;
}

.choices[data-type*=select-one]::after {
  content: url("/img/arrow_down.svg");
  top: 32%;
  left: 91.3%;
  border-style: none;
}

.checkbox {
  max-width: 290px;
  padding-right: 30px;
  color: var(--font-color-white);
}

.checkbox__label {
  position: relative;
  cursor: pointer;
}

.input-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.input-visible {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border: 1px solid var(--font-color-white);
  vertical-align: middle;
  transition: border-color .5s ease;
}

.input-visible::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  opacity: 0;
  background-color: #c283f3;
  transition: opacity .5s ease;
  transform: translate(-50%, -50%);
}

.checkbox__span {
  vertical-align: middle;
  transition: color .5s ease;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 4.1%;
}

.checkbox__item:last-child {
  margin-bottom: 14.5%;
}

.slides-container-galery {
  overflow: hidden;
}

.galery__swiper {
  display: flex;
  flex-direction: column-reverse;
}

.galery__navigation {
  display: inline-flex;
  align-items: center;
  align-self: center;
}

.galery__pagination {
  margin-right: 19px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--font-color-white);
  text-align: center;
}

.nav-btn {
  position: relative;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 50%;
  background-color: #666666;
  cursor: pointer;
}

.nav-btn::after {
  content: "";
  position: absolute;
  top: -1%;
  right: 0;
  bottom: -1%;
  left: 0;
  border: 2px solid var(--color-transparent);
  border-radius: 50%;
  transition: border-color .3s ease-in-out;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.btn-condition-galery {
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.nav-btn.swiper-button-disabled {
  opacity: .5;
  background-color: #666666;
  cursor: auto;
}

.galery__btn-prev {
  margin-right: 19px;
}

.galery__btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid var(--font-color-white);
  border-right: 1px solid var(--font-color-white);
}

.galery__btn-prev::before {
  left: calc(50% - 7px / 2);
  border-bottom: 1px solid var(--font-color-white);
  border-left: 1px solid var(--font-color-white);
}

.galery__slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 19px;
  background-color: #926b88;
}

.galery__slide::before {
  content: "";
  position: relative;
  z-index: 1;
  display: block;
  box-sizing: border-box;
  padding-top: calc(127% - 6px);
  border: 3px solid transparent;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.galery__slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
  border: 3px solid var(--color-transparent);
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  background-image: url("../img/gal.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  background-size: 100px;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}

.slide-galery-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* catalog */
.catalog__container {
  padding-top: 50px;
  padding-bottom: 25px;
}

.catalog__title {
  margin-bottom: 12px;
}

.catalog__info {
  display: none;
}

.catalog__main {
  flex-direction: column-reverse;
}

.catalog__accordeon .ui-widget {
  font-family: "OpenSans";
}

.catalog__list {
  overflow: hidden;
}

.catalog__item {
  position: relative;
}

.catalog__item:not(:first-child) {
  margin-top: -1px;
  padding-top: 1px;
}

.catalog__item:last-child {
  margin-bottom: 51px;
}

.catalog__item:first-child {
  border-top: 1px solid var(--color-light-gray);
}

.catalog__item-info {
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  cursor: pointer;
}

.ui-accordion .catalog__item .ui-accordion-header {
  display: flex;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  transition: border-color .5s ease-in-out, color .5s ease-in-out;
}

.catalog__item-info .ui-accordion-header-icon {
  display: none;
}

.catalog__item .ui-state-default {
  color: unset;
  background-color: unset;
}

.catalog__item-title {
  max-width: 200px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32/18);
  transition: background-color .5s ease-in-out;
}

/* кнопка аккордеона */
.button-circle-icon {
  padding: 0;
  border: 2px solid transparent;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: .5s transform ease, .5s border-color ease-in-out;
}

.button-circle-icon circle {
  transition: .5s fill ease;
}

.button-circle-icon path {
  transition: .5s fill ease;
}

.ui-accordion-header-active .button-circle-icon {
  transform: rotate(180deg);
}

.ui-accordion-header-collapsed .button-circle-icon {
  transform: rotate(0deg);
}

/* текст */
.ui-accordion .catalog__item .ui-accordion-content {
  max-width: 250px;
  padding: 20px 15px 15px 0;
  border: 0;
}

/* заглушка для табов внутри аккордеона */
.empty {
  flex-direction: row;
  justify-content: center;
}

.ui-accordion .catalog__item .empty {
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 25px;
}

.empty-image {
  position: relative;
  margin-right: 26px;
  padding: 7px 6px 2px 5px;
}

.empty-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #b7b7b7;
}

.empty-title {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32 / 18);
  color: var(--color-grey);
}

.empty-descr {
  max-width: 174px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(21.79 / 16);
  color: var(--color-grey);
}

.empty-href {
  border-bottom: 1px solid var(--color-transparent);
  font-size: 16px;
  font-weight: 600;
  line-height: calc(21.79 / 16);
  transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.ui-widget .empty-href,
.href-painter {
  color: var(--font-color-purple);
}

.people-item .people-item-button {
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--color-transparent);
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 400;
  line-height: calc(31 / 16);
  color: var(--color-grey);
  text-align: left;
  background-color: var(--color-transparent);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: color, background-color, border-botom;
}

.people-item .btn-delegation {
  color: var(--font-color-dark-purple);
}

.catalog__description .painter-active {
  display: flex;
  animation-name: painter;
  animation-duration: .8s;
}

@keyframes painter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.people-item-button:not(:last-child) {
  margin-bottom: 5%;
}

.peoples-list {
  align-items: center;
  margin-bottom: 2.4%;

  column-count: 1;
}

.painter-about {
  display: none;
  flex-direction: column;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.painter-avatar {
  margin-bottom: 18px;
}

.painter-name {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 600;
  line-height: calc(32.68 / 24);
  color: var(--color-grey);
}

.painter-years-of-life {
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.34 / 12);
  color: #999999;
}

/* заглушка для пустых художников */
.empty-painter-avatar {
  margin-bottom: 17px;
}

.painter-empty-name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: calc(32.68 / 24);
  color: var(--color-grey);
}

.painter-empty-descr {
  max-width: 240px;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(21.79 / 16);
  color: var(--color-grey);
}

/* events */
.events__container {
  position: relative;
  padding-top: 25px;
  padding-bottom: 30px;
}

.events__container .events__wrap {
  position: unset;
}

.events__title {
  margin-bottom: 13px;
  color: var(--color-grey);
}

.events__wrap .swiper-pagination {
  position: absolute;
  z-index: 10;
  top: 98%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: var(--color-light-gray);
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #666666;
}

.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 11px;
}

.event-main {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-height: 415px;
  padding: 18px 18px 49px 23px;
  border: 1px solid var(--color-light-gray);
  border-top: none;
}

.event-sw {
  box-sizing: border-box;
}

.events__navigation {
  display: none;
}

.events__slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 682px;
  padding: 75% 6% 16% 8%;
  border: 1px solid var(--color-light-gray);
}

.event-info {
  flex-direction: column;
}

.swiper-image-event {
  position: absolute;
  top: -2px;
  right: -1px;
  left: -1px;
}

.event-afisha {
  margin-bottom: 8px;
  padding-left: 21%;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.34 / 12);
  color: #999999;
  text-align: right;
}

.afisha-2 {
  padding-left: 45%;
}

.afisha-5 {
  padding-left: 35%;
}

.event-title {
  margin-bottom: 4px;
  font-weight: 600;
  line-height: calc(32.68 / 24);
  color: var(--color-grey);
}

.event-descr {
  margin-bottom: 14px;
  color: var(--color-grey);
}

.event-button {
  position: relative;
  max-width: 88px;
  margin-left: 5px;
  padding: 0;
  border: none;
  color: var(--font-color-purple);
  background-color: var(--color-transparent);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: background-color, color;
}

.event-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5%;
  left: 0;
  border-bottom: 1px solid var(--font-color-purple);
  transition: border-color .3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet {
  transition: outline .3s ease-in-out;
}

/* проекты */
.projects__container {
  padding-top: 49px;
  padding-bottom: 36px;
}

.projects__title {
  margin-bottom: 13px;
  color: var(--color-grey);
}

.projects__descr {
  margin-bottom: 10px;
  color: var(--color-grey);
}

.projects__button {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--font-color-purple);
  border-radius: 50px;
  vertical-align: middle;
  background-color: var(--color-transparent);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.projects__button::before {
  content: url("../img/tooltip-on.svg");
  position: absolute;
  top: -21%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.projects__button::after {
  content: url("../img/tooltip-off.svg");
  position: absolute;
  top: -21%;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.projects__href {
  position: relative;
  max-width: 238px;
  border-bottom: 1px solid var(--color-transparent);
  color: var(--font-color-purple);
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: background-color, color, border-color;
}

.stile-href-proj-2 {
  display: none;
}

.tippy-box[data-theme="purple"] {
  position: relative;
  align-items: center;
  padding: 0 5px 3px 5px;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(16.34 / 12);
  color: var(--font-color-white);
  text-align: center;
  background-color: var(--font-color-purple);
}

.tippy-box[data-theme~="purple"][data-placement^="top"]>.tippy-arrow::before {
  border-top-color: var(--font-color-purple);
}

.tippy-box[data-theme~="purple"][data-placement^="bottom"]>.tippy-arrow::before {
  border-bottom-color: var(--font-color-purple);
}

.tippy-box[data-theme~="purple"][data-placement^="left"]>.tippy-arrow::before {
  display: none;
  border-left-color: var(--font-color-purple);
}

.tippy-box[data-theme~="purple"][data-placement^="right"]>.tippy-arrow::before {
  display: none;
  border-right-color: var(--font-color-purple);
}

.projects__partners-title {
  margin-bottom: 11px;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32 / 18);
  color: var(--color-grey);
}

.projects__swiper {
  position: relative;
  padding-right: 48px;
  padding-left: 48px;
}

.slides-container-project {
  overflow: hidden;
}

.projects__navigation {
  position: absolute;
  top: 3vh;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects__slide {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 65px;
  /* padding:20px; */
  border: 1px solid var(--color-light-gray);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: border-color .3s ease-in-out;
}

.projects__slide .slide-project-icon {
  width: auto;
  height: 40%;
  opacity: .4;
  transition: filter .3s ease-in-out, opacity .3s ease-in-out;

  filter: grayscale(1);
}

.projects__btn-next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}

.projects__btn-prev::before {
  left: calc(50% - 7px / 2);
  border-bottom: 1px solid var(--color-black);
  border-left: 1px solid var(--color-black);
}

.projects__navigation .swiper-button-disabled {
  border: 2px solid var(--color-transparent);
  color: #bbbbbb;
  background-color: #ececec;
  cursor: auto;
}

.btn-condition-project {
  z-index: 10;
  border: 2px solid var(--color-transparent);
  background-color: #ececec;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

/* контакты */
.contacts__container {
  position: relative;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 34px;
}

.contacts__address {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24.51 / 18);
  color: var(--color-grey);
}

.contacts__description {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(19.07 / 14);
  color: var(--color-grey);
}

.contacts__form {
  margin-bottom: 20px;
}

.form-labels {
  flex-direction: column;
}

.contacts__label {
  display: flex;
  flex-direction: column-reverse;
}

.contacts__label:not(:last-of-type) {
  margin-bottom: 6.85%;
}

.contacts__label:last-of-type {
  margin-bottom: 6.9%;
}

.js-validate-error-label {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  padding-left: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16.34 / 12);
}

.contacts__input {
  width: 290px;
  padding: 3px 22px;
  border: 1px solid var(--color-grey);
  border-radius: 100px;
  color: var(--color-grey);
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.contacts__input:hover {
  border-color: var(--color-grey);
  background-color: #eaeaea;
}

.contacts__input:focus {
  border-color: var(--color-grey);
  outline: none;
  background-color: #eaeaea;
}

.contacts__button {
  position: relative;
  max-width: 44%;
  padding: 10px 32px;
  border: 2px solid var(--font-color-purple);
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  line-height: calc(16.34 / 12);
  color: var(--font-color-purple);
  background-color: var(--color-transparent);
  cursor: pointer;
  transition: background-color .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
}

.contacts__button::before {
  content: "";
  position: absolute;
  top: -18%;
  right: -5%;
  bottom: -16%;
  left: -5%;
  border: 2px solid #c283f3;
  border-radius: 100px;
  transition: transform .3s ease-in-out;
  transform: scale(0);
}

.button-form-descr-desktop {
  display: none;
}

.contacts__social {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(32 / 18);
  color: var(--color-grey);
}

.contacts__item:not(:last-child) {
  margin-right: 17px;
}

.link-image {
  width: 50px;
  height: 50px;
}

.contacts__link {
  border: 1px solid var(--color-transparent);
  border-radius: 50px;
  opacity: 1;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}

.contacts__map {
  position: relative;
  width: calc(320 / 320 * 100% + ((100vw - 100%) / 2));
  max-width: 100%;
  min-height: 305px;
  margin-top: -1px;
  margin-right: calc((-100vw + 100%) / 2);
  transition-duration: 100ms;
  transition-property: width, height, padding;
}

.contacts__map-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -6%;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.footer {
  background-color: var(--color-black);
}

/* footer */
.footer__container {
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__list {
  margin-bottom: 20px;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__logo {
  width: 97px;
  margin: 0 auto;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
  transition-property: transform, outline;
}

.footer__link .footer__icon path {
  transition: .3s fill ease-in-out;
}

@media (min-width: 576px) {

  /* header */
  .header__container {
    padding-top: 18px;
    padding-bottom: 20px;
  }

  .header__logo {
    min-width: 139px;
    margin-right: 9px;
    padding-top: 3px;
  }

  .header__burger {
    padding: 21px 16px 42px;
  }

  .menu {
    height: 675px;
  }

  .btn-close-icon {
    width: 23px;
    height: 23px;
  }

  .btn-open-icon {
    width: 30px;
    height: 23px;
  }

  .burger-btn-close {
    margin-bottom: 18px;
  }

  .search-close-icon {
    width: 23px;
    height: 24px;
  }

  .header__item {
    font-size: 20px;
    line-height: calc(48 / 20);
  }

  .button-primary {
    max-width: 185px;
    padding: 15px 30px 12px 52px;
    font-size: 15px;
    line-height: calc(22.31 / 15);
  }

  .button-primary::before {
    right: -5%;
    left: -5%;
  }

  .button-primary-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }

  .button-primary-text {
    padding: 0;
  }

  .header__form {
    justify-content: flex-start;
    padding: 17px 92px 20px 31px;
  }

  .button-search-icon {
    width: 23px;
    height: 24px;
  }

  .form-btn-close {
    top: 32%;
    right: 2.7%;
  }

  .input-small {
    width: 100%;
    max-width: unset;
  }

  /* hero */
  .hero__container {
    padding-top: 73px;
    padding-bottom: 74px;
  }

  .hero__elements {
    text-align: left;
  }

  .hero__title {
    max-width: 85%;
    font-size: 56px;
    line-height: calc(64.8 / 56);
  }

  .hero__descr {
    margin-bottom: 10.9%;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(25 / 16);
  }

  .hero__button {
    max-width: 290px;
    padding: 2.5% 4.5% 2.8% 4.5%;
    font-size: 16px;
    line-height: calc(20.5 / 16);
  }

  /* about */
  .about__container {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .about__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: calc(54.4 / 36);
  }

  /* galery */
  .galery__container {
    padding-top: 80px;
    padding-bottom: 77px;
  }

  .galery__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: calc(54.4 / 36);
  }

  .galery__description {
    margin-bottom: 7px;
  }

  /* catalog */
  .catalog__container {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .catalog__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: calc(54.4 / 36);
  }

  .catalog__info {
    display: block;
    margin-bottom: 20px;
  }

  .ui-accordion .catalog__item-info.ui-accordion-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .catalog__item-title {
    max-width: 210px;
    font-size: 22px;
    line-height: calc(28 / 22);
  }

  .button-circle-icon {
    width: 40px;
    height: 40px;
  }

  .ui-accordion .catalog__item .ui-accordion-content {
    max-width: 100%;
    padding: 6% 0 6.5% 0;
  }

  .peoples-list {
    margin-bottom: 0;

    column-count: 2;
  }

  .people-item-button {
    line-height: 2em;
  }

  .empty {
    align-items: center;
    justify-content: flex-start;
  }

  .empty-title {
    font-size: 22px;
    line-height: calc(28 / 22);
  }

  .empty-descr {
    max-width: 270px;
  }

  .empty-image::after {
    top: -3%;
    bottom: -3%;
  }

  .empty-image {
    margin-right: 24px;
    padding-right: 12px;
    padding-left: 12px;
  }

  .painter-avatar {
    margin-bottom: 23px;
  }

  .painter-empty-descr {
    max-width: 400px;
    margin-bottom: 10px;
  }

  /* events */
  .events__container {
    padding-top: 28px;
    padding-bottom: 40px;
  }

  .events__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: calc(54.4 / 36);
  }

  .events__slide {
    padding: 35% 3% 6% 2%;
  }

  .afisha-4 {
    padding-left: 14%;
  }

  /* projects */
  .projects__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .projects__title {
    margin-bottom: 14px;
    font-size: 36px;
    line-height: calc(54.4 / 36);
  }

  .projects__swiper {
    padding-right: 54px;
    padding-left: 54px;
  }

  .projects__partners-title {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: calc(28 / 22);
  }

  /* contacts */
  .contacts {
    position: relative;
  }

  .contacts__container {
    margin-bottom: 1px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .contacts::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid var(--color-light-gray);
  }

  .contacts__address {
    font-size: 22px;
    line-height: calc(28 / 22);
  }

  .contacts__description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 2em;
  }

  .stile-href-proj-1 {
    display: none;
  }

  .stile-href-proj-2 {
    display: unset;
  }

  .contacts__form {
    margin-bottom: 25px;
  }

  .contacts__input {
    width: 310px;
    padding: 5px 23px;
  }

  .contacts__button {
    max-width: 46%;
    padding: 11px 30px 10px;
    font-size: 16px;
    line-height: calc(23 / 16);
  }

  .contacts__social {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    line-height: calc(28 / 22);
  }

  .link-image {
    width: 45px;
    height: 45px;
  }

  .contacts__map {
    min-height: 478px;
    border-top: 1px solid var(--color-light-gray);
  }

  /* footer */
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 30px;
  }

  .footer__logo {
    min-width: 139px;
    margin: 0;
    padding-left: 1px;
  }

  .footer__list {
    margin: 0;
    padding-left: 5px;
  }

  .footer__icon {
    width: 55px;
    height: 55px;
  }
}

@media(min-width:768px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }

  /* header */
  .header__container {
    padding-top: 26px;
    padding-bottom: 28px;
  }

  .header__button-left {
    padding-top: 1.1%;
  }

  .btn-open-icon {
    width: 100%;
    height: 100%;
  }

  .header-1-icon {
    display: none;
  }

  .header-2-icon {
    display: unset;
  }

  .header__logo {
    min-width: 188px;
  }

  .header__button-right {
    width: 27px;
    height: 27px;
    padding-top: 3px;
  }

  .button-search-icon {
    width: 27px;
    height: 27px;
  }

  .header__burger {
    padding: 20px 50px 51px;
  }

  .burger-btn-close {
    margin-bottom: 26px;
    padding-top: 2.6%;
    padding-left: 2px;
  }

  .menu {
    height: 768px;
  }

  .btn-close-icon {
    width: 29px;
    height: 29px;
  }

  .header__item {
    font-size: 24px;
    line-height: calc(64 / 24);
  }

  .button-primary {
    max-width: 259px;
    padding: 17px 87px 15px 87px;
    font-size: 18px;
    line-height: calc(24.51 / 18);
  }

  .button-primary::before {
    right: -4%;
    left: -4%;
  }

  .button-primary-icon {
    width: 13px;
    height: 13px;
  }

  .header__form {
    padding: 18px 100px 5px 49px;
  }

  .form-btn-search .button-search-icon {
    width: 32px;
    height: 31px;
  }

  .form-btn-search {
    margin-top: 18px;
    margin-right: 10px;
  }

  .form-btn-close {
    top: 45%;
    right: 6.4%;
  }

  .search-close-icon {
    width: 29px;
    height: 29px;
  }

  /* hero */
  .hero__container {
    padding-top: 113px;
    padding-bottom: 114px;
  }

  .hero__title {
    font-size: 72px;
    line-height: calc(82.8 / 72);
  }

  .hero__descr {
    margin-bottom: 19.9%;
    font-size: 18px;
    line-height: calc(30 / 18);
  }

  .hero__button {
    max-width: 350px;
    padding: 3% 5% 3.3% 5%;
    font-size: 18px;
    line-height: calc(24.5 / 18);
  }

  .swiper-slide-1 {
    background-image: url("../img/768-hero-slide-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/768-hero-slide-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/768-hero-slide-3.jpg");
  }

  /* about */
  .about__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: calc(65.4 / 48);
  }

  .about__description {
    font-size: 16px;
  }

  /* galery */
  .galery__info {
    max-width: 42%;
  }

  .galery__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: calc(65.4 / 48);
  }

  .galery__description {
    margin-bottom: 10px;
  }

  .select {
    margin-bottom: 46px;
  }

  .checkbox__item:last-child {
    margin-bottom: 18.7%;
  }

  .galery__swiper {
    flex-direction: column;
  }

  .galery__navigation {
    align-self: flex-start;
    margin-bottom: 4.4%;
  }

  .galery__btn-prev {
    margin-right: 17px;
  }

  .galery__slide {
    margin-bottom: 0;
  }

  .galery__slide::before {
    padding-top: calc(104% - 2px);
  }

  /* catalog */
  .catalog__item:last-child {
    margin-bottom: 50px;
  }

  .catalog__title {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: calc(65.37 / 48);
  }

  .ui-accordion .catalog__item-info.ui-accordion-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .catalog__item-title {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .button-circle-icon {
    width: 50px;
    height: 50px;
  }

  .ui-accordion .catalog__item .ui-accordion-content {
    padding: 4% 0 8.5% 0;
  }

  .peoples-list {
    margin-bottom: 0;

    column-count: 3;
  }

  .empty-title {
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .empty-descr {
    max-width: 275px;
  }

  .empty-painter-avatar {
    margin-bottom: 28px;
  }

  .painter-empty-name {
    margin-bottom: 9px;
  }

  .painter-empty-descr {
    margin-bottom: 15px;
  }

  .painter-avatar {
    margin-bottom: 28px;
  }

  .painter-name {
    margin-bottom: 8px;
  }

  .painter-years-of-life {
    margin-bottom: 7px;
  }

  .painter-description {
    padding-left: 1px;
  }

  /* events */
  .events__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: calc(65.37 / 48);
  }

  .events__slide {
    min-height: 683px;
    padding: 32% 2.5% 7% 4.6%;
  }

  .event-afisha {
    margin-bottom: 3px;
  }

  .afisha-2 {
    padding-left: 52%;
  }

  .afisha-5 {
    padding-left: 42%;
  }

  .event-title {
    max-width: 250px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .event-descr {
    max-width: 250px;
    padding-left: 5px;
  }

  .events__wrap .swiper-pagination {
    top: 98.2%;
  }

  /* projects */
  .projects__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: calc(65.37 / 48);
  }

  .projects__descr {
    max-width: 660px;
    margin-bottom: 28px;
  }

  .projects__partners-title {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .projects__navigation {
    top: 7vh;
  }

  .projects__swiper {
    padding-right: 53px;
    padding-left: 53px;
    ;
  }

  .projects__slide .slide-project-icon {
    height: 50%;
  }

  .projects__slide {
    height: 106px;
    padding-right: 20px;
    ;
    padding-left: 20px;
  }

  /* contacts */
  .contacts__container {
    padding-top: 43px;
    padding-bottom: 42px;
  }

  .contacts__address {
    margin-bottom: 3px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .contacts__description {
    margin-bottom: 30px;
  }

  .contacts__form {
    margin-bottom: 31px;
  }

  .form-labels {
    flex-direction: row;
    margin-bottom: 12px;
  }

  .contacts__label:not(:last-of-type) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .contacts__label:last-of-type {
    margin-bottom: 0;
  }

  .contacts__input {
    width: 324px;
    padding: 8px 24px;
  }

  .contacts__button {
    max-width: 49%;
    padding: 11px 28px 10px;
    font-size: 18px;
    line-height: calc(24.51 / 18);
  }

  .contacts__button::before {
    right: -2.5%;
    left: -2.5%;
  }

  .button-form-descr-mobile {
    display: none;
  }

  .button-form-descr-desktop {
    display: unset;
  }

  .contacts__social {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: calc(32 / 24);
  }

  .link-image {
    width: 40px;
    height: 40px;
  }

  .contacts__map {
    min-height: 701px;
  }

  /* footer */
  .footer__container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 39px;
  }

  .footer__logo {
    width: 174px;
  }

  .footer__icon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) {

  /* header */
  .header__button-left {
    padding-top: 1%;
  }

  .header__logo {
    margin-right: 6px;
  }

  .header__button-right {
    width: 32px;
    height: 31px;
    padding-left: 1px;
  }

  .button-search-icon {
    width: 32px;
    height: 31px;
  }

  .header__burger {
    padding: 2.7% 4.7% 5%;
  }

  .button-primary {
    padding-bottom: 14px;
  }

  .button-primary::before {
    bottom: -15%;
  }

  .header__form {
    right: 2%;
    left: initial;
    justify-content: flex-end;
    width: 38%;
    padding-right: 83px;
    padding-left: 47px;
  }

  .form-btn-close {
    top: 54%;
    right: 8.9%;
  }

  .search-close-icon {
    width: 24px;
    height: 24px;
  }

  /* hero */
  .hero__container {
    padding-top: 113px;
    padding-bottom: 114px;
  }

  .hero__title {
    max-width: 63%;
  }

  .hero__descr {
    max-width: 73%;
    margin-bottom: 14.5%;
  }

  .hero__button {
    padding: 2.2% 3.6% 2.3%;
  }

  .swiper-slide-1 {
    background-image: url("../img/1024-hero-slide-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/1024-hero-slide-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/1024-hero-slide-3.jpg");
  }

  /* about */
  .about__container {
    padding-top: 79px;
    padding-bottom: 70px;
  }

  /* galery */
  .galery__container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 79px;
  }

  .galery__info {
    width: 100%;
    max-width: 30.3%;
    margin: 0;
  }

  .select {
    margin-bottom: 40%;
  }

  .checkbox__item:last-child {
    margin: 0;
  }

  .galery__swiper {
    max-width: 64.3%;
    padding-top: 2.6%;
  }

  .galery__navigation {
    margin-bottom: 4.8%;
  }

  .galery__slide::before {
    padding-top: calc(113% - 4px);
  }

  /* catalog */
  .catalog__container {
    padding-top: 80px;
    padding-bottom: 25px;
  }

  .catalog__main {
    flex-direction: row;
    width: 100%;
  }

  .catalog__info {
    margin-bottom: 40px;
  }

  .painter-avatar {
    margin: 0;
  }

  .painter-image {
    margin-bottom: 28px;
    ;
  }

  .painter-info {
    width: 100%;
  }

  .peoples-list {
    column-count: 2;
  }

  .catalog__description {
    width: 50%;
    margin-right: 3%;
  }

  .catalog__accordeon {
    width: 100%;
    max-width: 47.3%;
  }

  .ui-accordion .catalog__item .ui-accordion-content {
    padding-top: 6%;
    padding-bottom: 5.3%;
  }

  .empty-image {
    width: 228px;
    margin-right: 22px;
    padding: 10px 9px 4px;
  }

  .empty-image::after {
    top: 0;
    bottom: 0;
  }

  /* events */
  .events__container {
    padding-top: 5px;
    padding-bottom: 80px;
  }

  .events__slide {
    max-height: 100%;
    padding: 23.2% 3% 5% 3%;
  }

  .event-title {
    margin-bottom: 6px;
  }

  .events__wrap .swiper-pagination {
    top: 93.6%;
  }

  /* projects */
  .projects__container {
    padding-top: 39px;
  }

  .projects__title {
    margin-bottom: 17px;
  }

  .projects__descr {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .stile-href-proj-1 {
    display: unset;
  }

  .stile-href-proj-2 {
    display: none;
  }

  .projects__partners-title {
    margin-bottom: 23px;
  }

  .projects__slide .slide-project-icon {
    /* width: 56%; */
    height: 41%;
  }

  .projects__navigation {
    top: 9vh;
  }

  .projects__swiper {
    padding-right: 55px;
    padding-left: 55px;
  }

  .projects__slide {
    height: 128px;
  }

  /* contacts */
  .contacts__container {
    padding-top: 43px;
    padding-bottom: 41px;
  }

  .contacts__form {
    display: flex;
    flex-direction: row;
  }

  .form-labels {
    margin: 0;
    margin-right: 19px;
  }

  .contacts__input {
    width: 271px;
  }

  .contacts__button {
    padding: 10px 39px;
  }

  .contacts__button::before {
    top: -15%;
    right: -2%;
    bottom: -15%;
    left: -2%;
  }

  /* footer */
  .footer__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media(min-width:1440px) {

  /* header */
  .header {
    flex-direction: column;
  }

  .header__container-second {
    display: block;
  }

  .header__container {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1.6%;
    padding-bottom: 1.8%;
  }

  .header__container-first .header__container {
    padding-top: 22px;
    padding-bottom: 23px;
  }

  .header__container-second .header__container {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__button-left {
    display: none;
  }

  .header__logo {
    min-width: 172px;
    margin-right: 20px;
    padding-top: 0;
  }

  .header__burger {
    flex-direction: row;
    height: 100%;
    padding: 0;
    padding-top: 2px;
    padding-left: 2px;
  }

  .header__list {
    flex-direction: row;
    height: 100%;
    margin-right: 30px;
    padding: 0;
  }

  .header__item {
    font-size: 18px;
    line-height: calc(24.51 / 18);
  }

  .header__item:not(:last-child) {
    margin-right: 55px;
  }

  .header__item:last-child {
    margin: 0;
  }

  .button-primary {
    padding: 0;
    border: none;
    border-radius: 0;
    font-weight: 400;
    background-color: var(--color-transparent);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
  }

  .button-primary-icon path {
    transition: fill .3s ease-in-out;
  }

  .button-primary::before {
    display: none;
  }

  .menu {
    position: unset;
    visibility: visible;
    width: 75.2%;
    opacity: 1;
    transform: unset;
  }

  .header__button-right {
    display: none;
  }

  .header__list-button {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding-right: 20%;
  }

  .header__form {
    top: 99%;
    right: 3.7%;
    visibility: visible;
    width: 11.5%;
    height: 62.7%;
    padding: 1.1% 0 .4%;
    background-color: var(--color-transparent);
    transform: unset;
  }

  .form-btn-search {
    margin-top: 5px;
    margin-right: 6px;
  }

  .form-btn-search .button-search-icon {
    width: 25px;
    height: 25px;
  }

  .form-btn-close {
    display: none;
  }

  .input-small {
    display: none;
  }

  .input-large {
    display: unset;
    max-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(24.81 / 18);
  }

  .header__item-button {
    position: relative;
    margin-right: 6.5%;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .button-second-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(24.51 / 18);
    color: var(--font-color-white);
    background-color: var(--color-transparent);
    cursor: pointer;
    transition: color .3s ease-in-out;
  }

  .button-second-list::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-top: 0;
    margin-left: 0;
    border-top: 1px solid;
    border-right: 1px solid;
    transition: transform .3s ease-in-out;
    transform: rotate(135deg);
    transform-origin: center;
  }

  .button-second-list.is-active {
    color: var(--font-color-purple);
  }

  .button-second-list.is-active::after {
    transform: rotate(-45deg) translateY(4px);
  }

  .button-second-text {
    margin-right: 5px;
  }

  /* header-dropdown */
  .header__dropdown {
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    display: none;
    padding: 35px 20px 40px;
    background-color: rgba(0, 0, 0, .4);
    transform: translateY(100%);
  }

  .dropdown-1 {
    left: 0;
  }

  .dropdown-2 {
    left: -5.5%;
  }

  .dropdown-3 {
    left: -7.5%;
  }

  .dropdown-4 {
    left: -8.8%;
  }

  .dropdown-5 {
    left: -.5%;
  }

  .header__dropdown-wrap {
    width: 230px;
    max-height: 210px;
  }

  .header__dropdown.is-active {
    display: block;
    animation-name: dropdownOp;
    animation-duration: .3s;
  }

  .header__dropdown.is-disabled {
    display: block;
    animation-name: dropdownCl;
    animation-duration: .3s;
  }

  .header__dropdown-wrap .simplebar-content-wrapper {
    outline: none;
  }

  .header__drop-item {
    width: 200px;
  }

  .header__drop-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .header__drop-item:last-child {
    padding-bottom: 5px;
  }

  .header__drop-href {
    position: relative;
    display: block;
    padding: 7px 12px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(19 / 14);
    color: var(--font-color-white);
    text-align: left;
    background-color: var(--color-black);
    background-origin: border-box;
    box-shadow: 0 0 0 2px var(--color-transparent);
    transition: box-shadow .5s ease-in-out, color .5s ease-in-out;
  }

  .header__drop-href-text {
    position: relative;
  }

  .header__drop-href::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(194, 131, 243, .4);
    transition: opacity .3s ease-in-out;
  }

  .href-tintoreto {
    background-image: url("../img/tintorreto.jpg");
  }

  .href-fridrih {
    background-image: url("../img/fridrih.jpg");
  }

  .href-leonardo {
    background-image: url("../img/leonardo.jpg");
  }

  .href-verocio {
    background-image: url("../img/verokio.jpg");
  }

  .href-mone {
    background-image: url("../img/mone.jpg");
  }

  .href-sislei {
    background-image: url("../img/sislei.jpg");
  }

  .href-mane {
    background-image: url("../img/mane.jpg");
  }

  .href-renuar {
    background-image: url("../img/renuar.jpg");
  }

  .href-vangog {
    background-image: url("../img/vangog.jpg");
  }

  .href-sezann {
    background-image: url("../img/sezann.jpg");
  }

  .href-gogen {
    background-image: url("../img/gogen.jpg");
  }

  .href-sera {
    background-image: url("../img/sera.jpg");
  }

  .href-kandinski {
    background-image: url("../img/kandinskii.jpg");
  }

  .href-marinetti {
    background-image: url("../img/marinetti.jpg");
  }

  .href-malevich {
    background-image: url("../img/malevich.jpg");
  }

  .href-picasso {
    background-image: url("../img/picasso.jpg");
  }

  .href-karra {
    background-image: url("../img/karra.jpg");
  }

  .href-pratella {
    background-image: url("../img/pratella.jpg");
  }

  .href-severini {
    background-image: url("../img/severini.jpg");
  }

  .href-balla {
    background-image: url("../img/balla.jpg");
  }

  .header__dropdown .simplebar-track.simplebar-vertical {
    width: 4px;
    background-color: var(--color-black);
  }

  .header__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: var(--font-color-white);
  }

  @keyframes dropdownOp {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes dropdownCl {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  /* hero */
  .hero__container {
    padding-top: 107px;
    padding-bottom: 105px;
  }

  .hero__title {
    max-width: 54%;
    margin-bottom: 25px;
  }

  .hero__descr {
    max-width: 56%;
    margin-bottom: 6.5%;
  }

  .hero__button {
    padding: 1.4% 2.5%;
  }

  /* about */
  .about__container {
    padding-top: 66px;
    padding-bottom: 70px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__description {
    max-width: 83%;
  }

  /* galery */
  .galery__container {
    padding-top: 71px;
    padding-bottom: 61px;
  }

  .galery__description {
    margin-bottom: 9px;
  }

  .galery__info {
    max-width: 25%;
  }

  .select {
    margin-bottom: 30%;
  }

  .choices[data-type*=select-one]::after {
    left: 92.3%;
  }

  .galery__navigation {
    margin-bottom: 3.5%;
    padding-left: .3%;
  }

  .galery__swiper {
    max-width: 69%;
    padding-top: 3.4%;
  }

  .galery__slide::before {
    padding-top: calc(100% - 5px);
  }

  /* catalog */
  .catalog__container {
    padding-top: 78px;
    padding-bottom: 43px;
  }

  .catalog__info {
    max-width: 84%;
  }

  .catalog__accordeon {
    max-width: 53%;
  }

  .catalog__item:last-child {
    margin-bottom: 0;
  }

  .peoples-list {
    column-count: 3;
  }

  .ui-accordion .catalog__item .ui-accordion-content {
    padding-top: 3.4%;
    padding-bottom: 5.2%;
  }

  .painter-empty-name {
    margin-bottom: 11px;
  }

  .painter-empty-descr {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .empty-image {
    width: 274px;
    margin-right: 25px;
    padding: 10px 11px 3px;
  }

  .empty-image::after {
    top: 0;
    bottom: -1%;
  }

  .empty-title {
    padding-top: 3px;
  }

  /* events */
  .events__container {
    position: relative;
    padding-top: 29px;
    padding-bottom: 36px;
  }

  .events__slide {
    min-height: 691px;
    padding: 22% 3% 3.5% 2.5%;
  }

  .event-afisha {
    margin-bottom: 15px;
    padding-right: 54%;
    padding-left: 0;
    font-weight: 600;
    text-align: left;
  }

  .afisha-2 {
    padding-right: 65%;
  }

  .afisha-4 {
    padding-right: 35%;
  }

  .afisha-5 {
    padding-right: 60%;
  }

  .event-title {
    max-width: 95%;
    margin-bottom: 9px;
    padding: 0;
  }

  .title-1 {
    margin-bottom: 5px;
  }

  .event-descr {
    max-width: 100%;
    padding: 0;
  }

  .event-button {
    margin: 0;
  }

  .events__navigation {
    display: flex;
  }

  .events__pagination {
    display: none;
  }

  .btn-condition-event.swiper-button-disabled {
    display: none;
  }

  .btn-condition-event {
    transition: background-color .3s ease-in-out;
  }

  .btn-icon-event circle {
    transition: fill .3s ease-in-out;
  }

  .events__btn-prev,
  .events__btn-next {
    position: absolute;
    z-index: 5;
    top: 55%;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    border-radius: 100px;
  }

  .events__btn-prev {
    left: 2%;
    transform: rotate(90deg);
  }

  .events__btn-next {
    right: 2%;
    transform: rotate(-90deg);
  }

  /* projects */
  .projects__container {
    padding-top: 29px;
  }

  .projects__title {
    margin-bottom: 15px;
  }

  .projects__descr {
    max-width: 85%;
  }

  .projects__swiper {
    padding-right: 67px;
    padding-left: 67px;
  }

  .projects__navigation {
    top: 10vh;
  }

  .projects__slide {
    height: 144px;
  }

  /* contacts */
  .contacts__container {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .contacts__button::before {
    top: -15%;
    right: -2%;
    left: -2.3%;
  }

  .contacts__button {
    max-width: 38%;
    padding: 10px 37px 10px 34px;
  }

  /* footer */
  .footer__container {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

@media (min-width: 1800px) {

  /* header */
  .header__container {
    padding-top: 1.4%;
    padding-bottom: 1.6%;
  }

  .header__container-first .header__container {
    padding-top: 30px;
    padding-bottom: 31px;
  }

  .header__item:not(:last-child) {
    margin-right: 63px;
  }

  .menu {
    width: 78.2%;
  }

  .header__item-button {
    margin-right: 7.4%;
  }

  .header__item-btn.is-active::after {
    transform: rotate(-45deg) translateY(4px);
  }

  .header__form {
    right: 3.3%;
    width: 13%;
    padding: 1.1% 0 .4%;
  }

  .input-large {
    font-size: 18px;
    line-height: calc(24.51 / 18);
  }

  .header__dropdown {
    padding-left: 38px;
  }

  .header__dropdown-wrap {
    width: 240px;
    max-height: 230px;
  }

  .header__drop-item {
    width: 220px;
    margin-top: 2px;
    margin-left: 2px;
  }

  .header__drop-item:not(:last-child) {
    margin-bottom: 25px;
  }

  .header__dropdown .simplebar-track.simplebar-vertical {
    width: 2px;
  }

  /* hero */
  .hero__container {
    padding-top: 70px;
    padding-bottom: 121px;
  }

  .hero__title {
    max-width: 37%;
    margin-bottom: 20px;
  }

  .hero__descr {
    max-width: 38%;
    margin-bottom: 5.8%;
  }

  .hero__button {
    max-width: 315px;
    padding: 1.3% 2.1%;
  }

  .swiper-slide-1 {
    background-image: url("../img/1920-hero-slide-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/1920-hero-slide-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/1920-hero-slide-3.jpg");
  }

  /* about */
  .about__container {
    padding-top: 81px;
    padding-bottom: 70px;
  }

  .about__title {
    margin-bottom: 15px;
  }

  .about__description {
    max-width: 68%;
  }

  /* galery */
  .galery__container {
    padding-top: 80px;
    padding-bottom: 78px;
  }

  .galery__description {
    margin-bottom: 9px;
  }

  .select {
    margin-bottom: 45.07%;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding: .3% 3.6% .6%;
  }

  .choices[data-type*=select-one]::after {
    left: 93.3%;
  }

  .galery__navigation {
    margin-bottom: 2.5%;
  }

  .galery__swiper {
    max-width: 71.9%;
    padding-top: 1.5%;
  }

  /* catalog */
  .catalog__container {
    padding-top: 82px;
    padding-bottom: 56px;
  }

  .catalog__info {
    max-width: 68%;
  }

  .catalog__accordeon {
    max-width: 50%;
  }

  .ui-accordion .catalog__item .ui-accordion-content {
    padding-top: 3%;
    padding-bottom: 7.34%;
  }

  .painter-empty-name {
    margin-bottom: 13px;
  }

  .empty-image::after {
    top: -2%;
  }

  /* events */
  .events__container {
    padding-top: 23px;
    padding-bottom: 39px;
  }

  .events__slide {
    min-height: 699px;
    padding: 19.5% 3% 2.5% 3%;
  }

  .event-afisha {
    margin-bottom: 13px;
  }

  .afisha-4 {
    padding-right: 50%;
  }

  .title-1 {
    margin-bottom: 1px;
  }

  .events__btn-prev,
  .events__btn-next {
    top: 51%;
    width: 50px;
    height: 50px;
  }

  .events__btn-prev {
    left: 1.5%;
  }

  .events__btn-next {
    right: 1.5%;
  }

  /* projects */
  .projects__container {
    padding-top: 42px;
  }

  .projects__descr {
    max-width: 67%;
  }

  .projects__swiper {
    padding-right: 75px;
    padding-left: 75px;
  }

  .projects__navigation {
    top: 40%;
  }

  .projects__slide {
    height: 151px;
  }

  /* contacts */
  .contacts__container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 38px;
  }

  .contacts__info {
    margin-right: 3px;
  }

  .contacts__description {
    margin: 0;
  }

  .contacts__form {
    margin: 0;
  }

  .contacts__map {
    min-height: 701px;
  }

  /* footer */
  .footer__container {
    padding-top: 47px;
    padding-bottom: 48px;
  }

  .footer__icon {
    width: 45px;
    height: 45px;
  }

  .footer__item:not(:last-child) {
    margin-right: 20px;
  }
}